.headerBox {
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  // cursor: pointer;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  h2 {
    margin: 0;
    font-size: 18px;

    // @media (max-width: 768px) {
    //   font-size: 18px;
    // }
  }

  span {
    text-align: right;
  }
}

.faqContent {
  h2 {
    font-size: 14px;
  }

  p {
    font-size: 11px;
  }
}