.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background: #fff;
    z-index: 10000;

    @media (max-width: 768px) {
        width: 80vw;
    }
}

.content {
    display: flex;
    height: 100vh;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.menuBtn {
    background: transparent;
    color: #3b5284;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navItems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.navItem {
    margin: 20px 0;   
    text-align: center;
    font-size: 40px;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    a {
        cursor: pointer;
        &:hover {
            color: #cbe54e;
        }
    }
}