.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1180px;
    margin: 150px auto;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}

.image {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}