.wrapper {
    padding-right: 50px;

    h2,
    .bigText {
        font-size: 1.5em;
        color: #3b5284;
        font-family: 'Rubik', sans-serif;

        span {
            color: #cbe54e;
        }
    }
}