.wrapper {
    max-width: 1180px;
    margin: 0 auto;

    @media (max-width: 768px) {
        margin: 10px;
    }
}

.title {
    font-family: 'Rubik', sans-serif;
}

.portfolioList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.kubaLink {
    display: flex;
    margin: 0 0 60px 0;
    align-items: center;
    align-content: center;
    justify-content: center;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }

    img {
        margin-left: 20px;

        @media (max-width: 768px) {
            margin: 20px 0 0 0;
        }
    }
}