.wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;

    &:nth-child(1n+1) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.thumb {
    margin: 0;
    padding: 0;

    img {
        display: flex;
        width: auto;
        max-width: 100%;
        height: auto;
    }
}

.link {
    margin: 20px 0;

    a {
        color: #3b5284;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}