.wrapper {
    margin-left: 30px;

    h2 {
        font-family: 'Rubik', sans-serif;
    }

    @media (max-width: 768px) { 
        margin: 0;
        padding: 0;
    }
    
    h2 {
        strong {
            color: #cbe54e;
        }
    }
}