.wrapper {
    display: grid;
    max-width: 1180px;
    margin: 150px auto;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}