.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #000;
    font-size: 110px;
    margin-right: 30px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        margin: 0;
        font-size: 80px;
    }
}

.iconBox {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 20px 0;
    }
}