.wrapper {
    background: url(../../assets/icons-bg.webp) no-repeat 50% 50% transparent;
    background-size: cover;
    padding: 50px 0;

    @media (max-width: 768px) {
        background-image: url(../../assets/icons-bg-thumbs.webp);
    }
}

.offerList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1180px;
    list-style: none;
    padding: 0;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    li {
        color: #fff;
        text-align: center;
        font-size: 70px;

        h4 {
            font-size: 15px;
            font-family: 'Rubik', sans-serif;
            text-transform: uppercase;
            margin: 0;
        }
    }
}