.wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 560px;
  margin-left: 30px;

  @media (max-width: 768px) {
    padding: 10px;
    margin: 0;
  }
}

.contact__submit {
  background-color: #cbe54e;
  color: #3b5284;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: #3b5284;
    color: #cbe54e;
  }
}