.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100vw;
  overflow: hidden;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.colLeft {
  background: #3b5284;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.colRight {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}