.contact__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  border-bottom-color: #ccc;
  border-radius: 0;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

  &:focus {
    border-color: #3b5284;
  }
}