.wrapper {
  width: 100%;
  max-width: 560px;
  margin-right: 30px;

  @media (max-width: 768px) {
    margin: 10px;
  }
}

.contact__row {
  margin: 0 0 20px 0;
  color: #fff;

  h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    margin: 10px 0;
    color: #cbe54e;
  }

  p {
    margin: 0;
    display: flex;
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #666;
      }
    }
  }
}

.contact__ico {
  width: 20px;
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
  color: #cbe54e;
}

.google_map {
  border: 0;
  width: 100%;
  min-height: 150px;
}