.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    z-index: 1000;
    transition: background-color .25s ease-in;
}

.logo {
    margin: 0;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    color: #cbe54e;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    transition: color .25s ease-in;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.menuBtn {
    background: transparent;
    color: #cbe54e;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    transition: color .25s ease-in;
}

.wrapperBlack {
    @extend .wrapper;
    background-color: #3b5284;
    transition: background-color .25s ease-in;

    .logo,
    .menuBtn {
        color: #cbe54e;
        transition: color .25s ease-in;
    }
}