.wrapper {
    width: 100%;
    height: 100vh;
    background: url(../../assets/home-bg.webp) no-repeat 50% 50% transparent;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: flex-start;
    align-content: center;

    @media (max-width: 768px) {
        height: auto;
        min-height: 100vh;
        background-image: url(../../assets/home-bg-mobile.webp);
    }
}

.content {
    margin-left: 5vw;
    color: #fff;
    max-width: 95vw;
    line-height: 1.3;

    @media (max-width: 768px) {
        margin: 0 0 0 5vw;
        max-width: 90vw;
        text-align: center;
    }

    h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 50px;
        color: #cbe54e;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
}

.marginTop {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.btn {
    padding: 13px 20px;
    border-radius: 5px;
    background: #cbe54e;
    color: #3b5284;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        background: #3b5284;
        color: #cbe54e;
    }
}

.lub {
    margin: 0 10px;

    @media screen and (max-width: 1024px) {
        margin: 10px 0;
    }
}

.introTxt {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;

    a {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
    }
}

.clickToShowButton {
    cursor: pointer;
}

.showbtn {
    margin-left: 10px;
    text-decoration: underline;
    font-size: 10px;
}

.marginTopMobile {
    display: none;

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.mobileLink {
    color: #fff;
}