@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900|Rubik:300,400,500,700,900&subset=latin-ext');

/* font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif; */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #3b5284;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  
  body {
    max-width: 100vw;
    overflow-x: hidden !important;
  }
}